.forcast {
  color: #fff;
  display: flex;
  width: 80%;
  margin-left: 10%;
  gap: 24px;
}

.forcast > .current-forcast {
  flex: 3;
  display: flex;
}

.forcast > .weekly-forcast {
  flex: 2;
  display: flex;
}

.forcast > .weekly-forcast > .weekly-wrapper {
  padding: 0 24px;
  flex-grow: 1;
  border-radius: 15px;
}
.forcast > .weekly-forcast > .weekly-wrapper {
  background-color: #202b3b;
  border: 1px solid #202b3b;
}

@media (max-width: 1200px) {
  .forcast {
    width: 90%;
    margin-left: 5%;
  }
}
@media (max-width: 1024px) {
  .forcast {
    width: 100%;
    margin-left: 0;
  }
  .forcast > .current-forcast {
    padding-left: 24px;
  }
  .forcast > .weekly-forcast {
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .forcast {
    flex-direction: column;
  }
  .forcast > .current-forcast,
  .forcast > .weekly-forcast {
    padding: 0 24px;
  }
}
