.weekly-forcast-title {
  padding: 6px 0;
  font-size: 16px;
}
.weekly-forcast-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6px 12px 4px 12px;
  cursor: pointer;
  -webkit-transition: background 0.5s; /* For Safari 3.0 to 6.0 */
  transition: background 0.5s;
}
.weekly-forcast-item:hover {
  background: #0c131e;
}
.weekly-forcast-item p {
  margin: 0;
}
.weekly-forcast-date {
  text-align: left;
}
.weekly-forcast-icon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
.weekly-forcast-temprature {
  text-align: right;
}
