@font-face {
  font-family: 'poppinsregular';
  src:
    url('assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'poppinsregular';
  background-color: #0c131e;
}

code {
  font-family: 'poppinsregular';
}
